<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#head-icon">
                <img src="/curtain.ico" alt="No logo image" />
            </button>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class="collapse navbar-collapse" id="head-icon">
                    <ul class="nav navbar-nav navbar-left">
                        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="nav navbar-nav navbar-right">
                        @if (!this.User.Identity.IsAuthenticated)
                        {
                            <li><a href="@Url.Action("Register", "Account")"><span class="glyphicon glyphicon-user"></span> Register</a></li>
                            <li><a href="@Url.Action("Login", "Account")"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                        }
                        else
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    @User.Identity.Name
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <li><a href="@Url.Action("Add", "Movie")">Add Movie</a></li>
                                    }

                                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        <li><button type="submit" class="navbar-button">Log out</button></li>
                                    }
                                </ul>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>