@model RegisterViewModel
@{
    ViewBag.Title = "Registration";
}
<div class="inner-main">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })
        <div class="container" id="register-description-container">
            <div class="row">
                <div class="col-md-6 col-md-push-2">
                    <dl class="dl-horizontal">
                        <dt>@Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })</dt>
                        <dd>@Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })</dd>
                        <dt>@Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })</dt>
                        <dd>@Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })</dd>
                        <dt>@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })</dt>
                        <dd>@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })</dd>
                        <dt>@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })</dt>
                        <dd>@Html.PasswordFor(m => m.Password, new { @class = "form-control" })</dd>
                        <dt>@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })</dt>
                        <dd>@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })</dd>
                        <dt></dt>
                        <dd><input type="submit" class="btn btn-default" value="Registration" /></dd>
                    </dl>
                </div>
            </div>
        </div>
    }
</div>